<template>
  <div class="h-screen bg-slate-200">
    <div class="container mx-auto pt-4 w-2/3">
      <div class="bg-white shadow rounded-lg mb-4">
        <div class="flex justify-between items-center p-4">
          <div class="font-semibold">
            LORDZ Deposit/Withdraw Tally
          </div>
          <div class="text-sm">
            <button 
              class="rounded-lg shadow bg-gray-200 border border-gray-300 px-3 py-2 hover:bg-gray-300 text-gray-900 font-semibold" 
              :disabled="disabled" 
              @click="getBscTxs"
            >
              Get Transactions
            </button>
          </div>
        </div>
        <div class="border-t border-gray-200 text-xs">
          <div class="p-2">Status: {{ status }}</div>
          <div class="p-2">Total Transactions: {{ txCount }}</div>
          <div class="p-2">Current Zero Deposit Transaction Hash: {{ txHash }}</div>
          <table class="table-auto w-full text-xs">
            <div class="p-2 border border-gray-400" v-for="(txvs, index) in txs" :key="index">
              <tr>
                <div v-for="(tx, indexv) in txvs" :key="indexv">
                  <td width="375" class="border border-gray-200 px-4 py-2">{{ tx.address }}</td>
                  <td width="100" class="border border-gray-200 px-4 py-2">{{ tx.blockNumber }}</td>
                  <td width="100" class="border border-gray-200 px-4 py-2">{{ tx.type }}</td>
                  <td width="200" class="border border-gray-200 px-4 py-2">{{ formatGwei(tx.amount) }}</td>
                </div>
              </tr>
              <div>
                <span class="mt-2 inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                  Deposits: {{ formatGwei(tallyDeposits(txvs)) }}
                </span>
              </div>
              <div>
                <span class="mt-2 inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/20">
                  Withdraws: {{ formatGwei(tallyWithdraws(txvs)) }}
                </span>
              </div>
              <div>
                <span class="mt-2 inline-flex items-center rounded-md bg-slate-50 px-2 py-1 text-xs font-medium text-slate-700 ring-1 ring-inset ring-slate-600/20">
                  Remaining: {{ formatGwei(tallyRemaining(txvs)) }}
                </span>
              </div>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Web3 from 'web3';
  import axios from 'axios';
  import { environment } from './config/environment.js';

  const web3 = new Web3(environment.bscRpcUrl);
  
  export default {
    data() {
      return {
        txCount: 0,
        txs: [],
        status: 'Waiting to Scan',
        txHash: '',
        disabled: false
      }
    },

    mounted() {},

    methods: {
      getBscTxs: async function () {
        const getDeposits = async (fromBlock) => {
            let url = environment.bscScanApiUrl + "/api?module=logs&action=getLogs";
                url += "&fromBlock=" + fromBlock;
                url += "&toBlock='latest'";
                url += "&address=" + environment.contractAddress;
                url += "&apikey=" + environment.bscScanApiKey;

          const response = await axios.get(url);

          const parsedEvents = response.data.result.map(deposit => {
            if(
              deposit.topics[0] == '0x90890809c654f11d6e72a28fa60149770a0d11ec6c92319d6ceb2bb0a4ea1a15' || 
              deposit.topics[0] == '0xf279e6a1f5e320cca91135676d9cb6e44ca8a08c0b88342bcdb1144f6511b568'
            ) {
              return this.decodeAbiPid(deposit);
            } else {
              return deposit;
            }
          });

          this.txCount = this.txCount + parsedEvents.length;

          if (parsedEvents.length === 1000) {
            const lastEvent = parsedEvents.reduce((prev, cur) => {
              if (prev.blockNumber > cur.blockNumber) {
                return prev;
              }
              return cur;
            },{ blockNumber: 0 });

            const additionalDeposits = await getDeposits(parseInt(lastEvent.blockNumber) + 1);

            let txs = {};

            const mergedEvents = parsedEvents
              .concat(additionalDeposits)
              .filter((value, index, self) => {
                if (txs[value.transactionHash] === undefined) {
                  txs[value.transactionHash] = null;
                  return true;
                }
                return false;
              });
            return mergedEvents;
          }
          return parsedEvents;
        };

        this.disabled = true;
        this.status = 'Querying BSC Scan';

        let txs = await getDeposits(environment.contractStartBlock);

        let depositWithdaws = txs.filter((tx) => {
          return tx.returnValues != undefined;
        });

        let alltxs = [];

        depositWithdaws.sort(function (a, b) {
          if(a.returnValues.from > b.returnValues.from) {
            return 1;
          } else if (a.returnValues.from < b.returnValues.from) {
            return -1
          }

          if(a.blockNumber < b.blockNumber) {
            return -1;
          } else if(a.blockNumber > b.blockNumber) {
            return 1;
          } else {
            return 0;
          }
        });

        this.status = 'Scanning Zero Deposit Transactions';

        for(let i = 0; i < depositWithdaws.length; i++) {
          let atx = {};

          if(depositWithdaws[i].raw.topics[0] == '0x90890809c654f11d6e72a28fa60149770a0d11ec6c92319d6ceb2bb0a4ea1a15' && depositWithdaws[i].returnValues.value == 0) {
            this.txHash = depositWithdaws[i].transactionHash;

            let txtr = await web3.eth.getTransactionReceipt(depositWithdaws[i].transactionHash);
            let decodedTx = this.decodeAbi(txtr.logs[0]);
            
            atx = {
              address: decodedTx.returnValues.to,
              blockNumber: decodedTx.blockNumber,
              type: 'Zero Deposit',
              amount: decodedTx.returnValues.value
            };
          } else {
            atx = {
              address: depositWithdaws[i].returnValues.from,
              blockNumber: depositWithdaws[i].blockNumber,
              type: depositWithdaws[i].raw.topics[0] == '0x90890809c654f11d6e72a28fa60149770a0d11ec6c92319d6ceb2bb0a4ea1a15' ? 'Deposit' : 'Withdraw',
              amount: depositWithdaws[i].returnValues.value
            };
          }

          alltxs.push(atx);
        }

        const results = alltxs.reduce((group, tx) => {
          const { address } = tx;
          group[address] = group[address] ?? [];
          group[address].push(tx);
          return group;
        }, {});

        this.status = 'Scan Complete';
        this.txs = results;
      },

      tallyDeposits: function (txs) {
        let total = 0;
        txs.map(tx => {
          tx.type == 'Deposit' ? total += parseInt(tx.amount) : total += 0;
        });
        return total;
      },

      tallyWithdraws: function (txs) {
        let total = 0;
        txs.map(tx => {
          tx.type == 'Withdraw' ? total += parseInt(tx.amount) : total += 0;
        });
        return total;
      },

      tallyRemaining: function (txs) {
        let total = 0;
        total = parseInt(this.tallyDeposits(txs)) - parseInt(this.tallyWithdraws(txs));
        return total;
      },

      formatGwei: function (amount) {
        return web3.utils.fromWei(amount.toString(), 'gwei');
      },

      decodeAbiPid: function (tx) {
        const contract = new web3.eth.Contract(environment.contractAbi, environment.contractAddress);

        contract.inputs = [
          {
            indexed: true,
            internalType: "address",
            name: "from",
            type: "address",
          },
          {
            indexed: true,
            internalType: "uint256",
            name: "pid",
            type: "uint256",
          },
          {
            indexed: false,
            internalType: "uint256",
            name: "value",
            type: "uint256",
          }
        ];

        return contract._decodeEventABI(tx);
      },

      decodeAbi: function (tx) {
        const contract = new web3.eth.Contract(environment.contractAbi, environment.contractAddress);

        contract.inputs = [
          {
            indexed: true,
            internalType: "address",
            name: "from",
            type: "address",
          },
          {
            indexed: true,
            internalType: "address",
            name: "to",
            type: "address",
          },
          {
            indexed: false,
            internalType: "uint256",
            name: "value",
            type: "uint256",
          }
        ];

        return contract._decodeEventABI(tx);
      }
    }
  }
</script>
